<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
  <h3><a href="/new">Add user</a></h3>
  <table border="2" p>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Lastname</th>
      <th>Age</th>
      <th>Action</th>
    </tr>
    <tr th:each ="user : ${users}">
      <td th:utext="${user.getId()}">...</td>
      <td th:utext="${user.getFirstName()}">...</td>
      <td th:utext="${user.getLastName()}">...</td>
      <td th:utext="${user.getAge()}">...</td>
      <td>
        <form th:method="DELETE" th:action="@{/{id}(id=${user.getId()})}">
        <input type="submit" value="Delete"/>
      </form>
      </td>
      <td>
        <form th:action="@{'edit/' + ${user.id}}">
          <input type="submit" value="Edit"/>
        </form>
      </td>

    </tr>
  </table>
</div>
</body>
</html>